*.dep
*.dep.stamp
*.exe
# Build / packaging scratch dirs (never commit binaries)
/installer/dist/
/installer/Output/
/release-assets/
/staging/
/build_mingw/
*.idb
*.ilk
*.kdev4
*.la
*.lib
*.lo
*.log
*.o 
*.obj
*.pdb
*.pro.user*
*.pyc
*.sdf
*.tlog
*~
.cache
.ccls
.ccls-cache
.ccls-root
.clangd
.deps
.dirstamp
.idea/
.kdev4/
.libs
.moc
.obj
.qmake.stash
.ui
.version
.vs
CMakeLists.txt.user
CMakeSettings.json
TAGS
\#*
__pycache__
aclocal.m4
build**/
build-*-Debug
build-*-Release
cmake-build**/
compile
compile_commands.json
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
ptrans
src/common/autoconfig.h
src/doc/user/usermanual.pdf
src/doc/user/webhelp/docs/*
src/doc/user/webhelp/xincluded-profiled.xml
src/kde/kioslave/kio_recoll/builddir
src/python/pyaspell/aspell_python_py3.egg-info/
src/python/pyaspell/dist/
src/python/pyaspell/setup.cfg
src/python/pyaspell/setup.py
src/python/pychm/dist/
src/python/pychm/recollchm.egg-info
src/python/pychm/setup.cfg
src/python/pychm/setup.py
src/python/recoll/Recoll.egg-info
src/python/recoll/build
src/python/recoll/dist/
src/python/recoll/setup.cfg
src/python/recoll/setup.py
src/python/samples/recollgui/rclmain.py
src/qtgui/main.cpp-console
src/qtgui/qrc_recoll.cpp
src/qtgui/recoll.app
src/qtgui/recoll.pro
src/testmains/trconftreepy.py
stamp-h1
tests/casediac/aspdict.en.rws
tests/casediac/idxstatus.txt
tests/casediac/index.pid
tests/casediac/mimeview
tests/casediac/missing
tests/casediac/recoll.conf
tests/casediac/xapiandb
tests/chinese/backends
tests/chinese/mimeview
tests/chinese/recoll.conf
tests/config/aspdict.en.rws
tests/config/history
tests/config/idxstatus.txt
tests/config/index.pid
tests/config/mimemap
tests/config/missing
tests/config/ocrcache
tests/config/recoll.conf
tests/config/xapiandb
tests/indexedmimetypes/aspdict.en.rws
tests/indexedmimetypes/idxstatus.txt
tests/indexedmimetypes/index-data.pid
tests/indexedmimetypes/index.pid 
tests/indexedmimetypes/mimeview
tests/indexedmimetypes/missing
tests/indexedmimetypes/recoll.conf
tests/indexedmimetypes/xapiandb
tests/rclconf/config/mimemap
tests/rclconf/config/recoll.conf
tests/xattr/mimeview
